@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
        --orange: 26deg 100% 55%;
        --pale-orange: 25deg 100% 94%;
        ---very-dark-blue: 220deg 13% 13%;
        --dark-grayish-blue: 219deg 9% 45%;
        --grayish-blue: 220deg 14% 75%;
        --light-grayish-blue: 223deg 64% 98%;
    }
    html{
        font-family: "Kumbh Sans", sans-serif;
    }
}